/* Estilos opcionales para mejorar la apariencia */
body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.container {
    width: 100%;
    text-align: center;
    color: white;
    animation: fadeIn 1s ease-out forwards;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#softwarecontainer {
    height: auto;
}

.slide {
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateY(100vh);
    transition: transform 0.8s ease-in-out;
    text-align: center;
    margin-top: -20px;
}

.slide.active {
    transform: translateY(0);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
    animation: zoomBackground 60s linear infinite alternate;
}

@keyframes zoomBackground {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.6);
    }
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.rowJustify {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.column {
    flex: 1;
    margin: 2%;
    opacity: 0;
    animation: fadeIn 2s ease-out forwards, slideIn 1s ease-out forwards;
}

@keyframes slideIn {
    from {
        transform: translateY(-20px);
    }

    to {
        transform: translateY(0);
    }
}

.card {
    border: 0.2em solid #ccc;
    border-radius: 1vw;
    padding: 1vw;
    margin-bottom: 1vw;
    opacity: 0;
    animation: fadeIn 2s ease-out forwards, scaleCard 0.5s ease-out forwards;
    /* Animación de tarjeta */
    transition: transform 0.3s ease-in-out;
    /* Transición para la animación de zoom */
    color: white;
    text-align: center;
}

.card:hover {
    transform: scale(1.6);
}

@keyframes scaleCard {
    from {
        transform: scale(0.5);
    }

    to {
        transform: scale(1);
    }
}

h1 {
    color: #fff;
    font-style: oblique;
    font-size: 3vw;
}

.titulo-principal {
    font-size: 5vw;
    width: 100%;
    text-align: center;
    font-family: "Times New Roman", serif;
    position: relative;
    margin-top: 20vh;
    color: #0f0;
    text-decoration: underline;
    opacity: 0;
    animation: fadeIn 1s ease-out forwards, blinkTitle 3s ease-in-out infinite alternate;

}

@keyframes blinkTitle {
    from {
        opacity: 0.5;
    }

    to {
        opacity: 1;
    }
}

.imagen-ajustada {
    max-width: 100%;
    height: 25vh;
    justify-content: center;
    align-content: center;
}

.imagen-instalaciones {
    max-width: 100%;
    height: 22vh;
}

.imagen-ajustada75 {
    max-width: 25%;
    height: auto;
    display: flex;
    justify-content: right;
    align-content: center;
    /* padding-left: 75px; */
}

p {
    font-size: 1.6vw;
}

.frase {
    font-style: italic;
    font-size: 3vw;
    opacity: 0;
    animation: fadeIn 1s ease-out forwards;
    /* Animación de entrada */
}

.columnCenter {
    display: flex;
    align-items: center;
}

.enlace-personalizado {
    color: white;
    text-decoration: none;
}

.TarjetaSoftware {
    text-align: center;
    border: 0.1em solid rgb(12, 12, 88);
    border-radius: 1vw;
    padding: 1vw;
    background-color: darkcyan;
    opacity: 0;
    animation: fadeIn 2s ease-out forwards;
    width: 75%;
    margin: 2%;
}

#texto-descripcion {
    font-size: x-large;
    justify-content: center;
    opacity: 0;
    animation: fadeIn 1s ease-out forwards;
    /* Animación de entrada */
    color: white;
}

.menu {
    position: sticky;
    z-index: 1000;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
}

.menu-personalizado {
    color: #09f;
    text-decoration: underline;
    font-size: 1.5vw;
}

.menu li {
    list-style: none;
    /* Eliminar los puntos de la lista */
    margin: 0;
    /* Eliminar cualquier margen */
    padding: 0;
    /* Eliminar cualquier relleno */
}

#h2Prototipos {
    color: white;
    text-decoration: underline;
    font-size: 5vw;
    text-align: center;
}

.Boton_cotizazcion {
    display: inline-block;
    padding: 1.2vw 2.4vw;
    font-size: 1vw;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    border: 0.2vw solid #4CAF50;
    border-radius: 5px;
    color: #4CAF50;
    background-color: white;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    align-self: center;
    margin-bottom: 1vw;
}

.Boton_cotizazcion:hover {
    background-color: #4CAF50;
    /* Cambio de color de fondo al pasar el mouse */
    color: white;
    /* Cambio de color del texto al pasar el mouse */
    border-color: #4CAF50;
    /* Cambio de color del borde al pasar el mouse */
}