:root {
    --verde_dark: #034638;
    --verde_oscuro: #05624E;
    --verde_claro: #00FFB3;
    --madera_claro: #A45430;
    --madera_oscuro: #532A09;
    --background_negro: #111111;
}

body {
    background-color: var(--background_negro);
    color: #FFFFFF;
    padding: 0;
    margin: 0;
}

* {
    margin: 0;
}

.slide {
    max-height: 90%;
}

h1 {
    font-size: 2.5em;
    text-align: center;
    color: var(--verde_oscuro);
    margin: 5vmin 3vmin;
    text-decoration: underline;
    text-underline-offset: 7px;
}

h2 {
    font-size: 2em;
    text-align: center;
    text-decoration: underline 5px var(--madera_oscuro);
    text-underline-offset: 7px;
    padding: 10px;
    margin: 0 15px;
    border: none;
}

.destacado {
    color: var(--verde_claro);
}

.enlace {
    color: #FFFFFF;
    width: 100%;
    font-size: 2em;
    text-decoration: none;
    border: 5px solid var(--madera_claro);
    border-radius: 10px;
    padding: 10px;
    margin: 0 15px;
}

.enlace:hover {
    text-decoration: none;
    background-color: var(--madera_claro);
    border-radius: 5px;
}

/* -------------------------------------------------------- */
.menu {
    list-style: none;
    text-align: center;
    background-color: var(--madera_oscuro);
    padding: 1vmin 0;
    margin-top: 0;
    position: fixed;
    width: 100%;
    margin: 0;
    top: 0;
    z-index: 1000;
}

.menu li {
    margin: 3vmin 0;
}

.menu_personalizado {
    color: #FFFFFF;
    font-size: 1em;
    text-decoration: underline 3px;
    text-underline-offset: 5px;
}

#titulo_principal {
    color: var(--verde_dark);
    font-size: 4em;
    text-align: center;
    padding: 0 5vmin;
    padding-top: 30vmin;
    text-decoration: none;
    text-shadow:
        -1px -1px 15px #FFFFFF,
        1px -1px 15px #FFFFFF,
        -1px 1px 15px #FFFFFF,
        1px 1px 15px #FFFFFF;
}

.frase {
    font-size: 2em;
    padding: 0 5vmin;
    margin: 3vmin;
    text-align: center;
}

#info_inicio {
    text-align: center;
}

.imagen {
    width: 50%;
}

/* ----------------------------------------------------------- */
.card {
    width: 100%;
    margin: 2vmin auto;
    text-align: center;
}

.img_card {
    max-width: 90%;
    margin-bottom: 3vmin;
}

/* --------------------------------------------------------------- */
@media(min-width:720px) {
    .menu {
        display: flex;
        justify-content: space-around;
    }

    #titulo_principal {
        padding-top: 10vmin;
        font-size: 6em;
    }

    #info_inicio {
        max-width: 90%;
        margin: 0 auto;
        display: flex;
        align-items: center;
    }

    .imagen {
        max-width: 40%;
    }

    h1 {
        font-size: 5em;
        padding-top: 10vmin;
    }

    .cards {
        display: flex;
        flex-direction: row;
        max-width: 100%;
        margin: 0 auto;

    }

    .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 0 5vmin;
    }

    .img_card {
        max-width: 75%;
        max-height: 75%;
        min-width: 30%;
        min-height: 30%;
    }

    /* --------------------------------------------------------------- */
    @keyframes slide-in {
        0% {
            transform: translateY(100%);
            opacity: 0;
        }

        100% {
            transform: translateY(0);
            opacity: 1;
        }
    }

    /* Definición de la animación para la salida (slide-out) */
    @keyframes slide-out {
        0% {
            transform: translateY(0);
            opacity: 1;
        }

        100% {
            transform: translateY(-100%);
            opacity: 0;
        }
    }

    .slide {
        display: none;
        transition: opacity 5s;
        animation: slide-out 1s forwards;
    }

    .slide.active {
        display: inherit;
        transition: opacity 5s;
        animation: slide-in 1s forwards;
    }
}